.barber-bg
{
    background-image: url("../images/baber01.jpg") !important; 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.salon-bg
{
    background-image: url("../images/salon01-1.jpg") !important; 
    background-position: right right;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}