.barber-bg
{
    background-image: url("../images/main/baber01.jpg") !important; 
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    transition: all 0.5s ease;
}

.barber-bg:hover, .salon-bg:hover
{
    transform: scale(1.02);
}

.salon-bg
{
    background-image: url("../images/main/salon01.jpg") !important; 
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    transition: all 0.5s ease;
}

.hero-body
{
    overflow: hidden; 
}

.bg-transp
{
    opacity: 0.9;
}

.titulo-1
{
    padding: 5% 0 !important
}

#main-hero
{
    
    height: calc(100vh - 108px) !important;
    min-height: 0%;
}

#title1
{
    border-bottom: 2px black solid;
    margin:  5px 0;
    padding: 0%;

}

html
{
    overflow: hidden !important;
}

.button1
{
    margin-top:1% !important;
}

@media only screen and (max-width: 600px) {


    #barber-hero, #saloon-hero
    {
        min-height: 0%;
        height: 50% !important;;
        max-width: 100vh !important;
    }

    #hero-body
    {
        display: block;
    }
} 