body
{
    overflow-x: hidden;
}

.barber-bg
{
    background-image: url("../images/baber01.jpg") !important; 
    background-position: center center;
    background-repeat:  no-repeat;
 
    background-size:  cover;
    
    transition: all 0.5s ease;
}

.barber-bg:hover, .salon-bg:hover
{
    transform: scale(1.02);
}


.footer, .sobre-text
{
    background-color: #363636 !important;
}



.bg-transp
{
    opacity: 0.9;

}

.titulo-1
{
    padding: 5% 0 !important
}


.is-horizontal-center {
    justify-content: center;
  }



div>img
{
    margin-left: auto;
    margin-right: auto;
    max-height: 70vh !important;

}

.has-text-success
{
    display: inline !important;
}

.slider
{
    display: flex;
    max-height: 70vh;
}

.slick-prev, .slick-arrow
{
    z-index: 99 !important;
    width: auto !important;
    height: auto !important;
    padding: auto !important;
    color: black !important;
    /*background-color: black !important;*/
    /*font-size: xxx-large !important;*/
}

.slick-next::before, .slick-prev::before
{
    display: none;
}

.button.is-focused:not(:active), .button:focus:not(:active)
{
    box-shadow: none !important;
}

@media only screen and (max-width: 600px) {

    .slick-prev, .slick-next
    {
        display:none !important;
    }
}