.barber-bg
{
    background-image: url("../images/main/baber01.jpg") !important; 
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    transition: all 0.5s ease;
}

.barber-bg:hover, .salon-bg:hover
{
    transform: scale(1.02);
}

.salon-bg
{
    background-image: url("../images/main/salon01.jpg") !important; 
    background-position: center center;
    background-repeat:  no-repeat;
    background-size:  cover;
    transition: all 0.5s ease;
}

.hero-body
{
    overflow: hidden; 
}

.bg-transp-b
{
    background: rgba(54,54,54, 0.9) !important;
}

.bg-transp-s
{
    background: rgba(241,70,104, 0.9) !important;
}
.titulo-1
{
    padding: 5% 0 !important
}

#main-hero
{
    
    height: calc(100vh - 108px) !important;
    min-height: 0%;
}

#title1
{
    border-bottom: 2px black solid;
    margin:  5px 0;
    padding: 0%;

}

#logo-hero
{
    width: 40%;
    height: 40%;
}


html
{
    overflow: hidden !important;
}

.button1
{
    margin-top:1% !important;
}

#brand
{
    padding-left: 0px !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    max-width: 50% !important;
    max-height: 50% !important;
    margin-left: auto !important;
    margin-right: auto !important;

}

#brand-image
{
    max-height: 100% !important;
}

@media only screen and (max-width: 600px) {


    #barber-hero, #saloon-hero
    {
        min-height: 0%;
        height: 50% !important;;
        max-width: 100vh !important;
    }

    #hero-body
    {
        display: block;
    }

    #logo-hero
    {
        display:none;
    }
} 